<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651637918599-69bmvm8rmlc84qiegms6u16ons0oe0ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651637918599-69bmvm8rmlc84qiegms6u16ons0oe0ql</string>
	<key>API_KEY</key>
	<string>AIzaSyDf5yJ8yjLfzB_D_fH39jrj9LojoHzIaUU</string>
	<key>GCM_SENDER_ID</key>
	<string>651637918599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gently</string>
	<key>PROJECT_ID</key>
	<string>intended-e613f</string>
	<key>STORAGE_BUCKET</key>
	<string>intended-e613f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651637918599:ios:d5632a97e0582a72222122</string>
</dict>
</plist>